
  .card{
    border: 2px solid grey;
    width: 155px;
    height: 230px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
  }
  .img-div img{
    width: 70px;
    height: 70px;
    clip-path: circle();
    
  }
  .img-div{
    background-color: rgba(243,243, 250);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: block;
    margin: 25px auto;
  }
  h1{
    color: black;
    font-size: 24px;
    font-family: serif;
    font-weight: normal;
    margin-top: -25px;
  }
  .card h2{
    color: rgb(34, 32, 32);
    font-weight: normal;
    font-size: 20px;
    margin-top: 5px;
  }
  .card-container{
    display: flex;
    align-items: center;
  }
  .circle1{
    width: 35px;
    height: 35px;
    background-color: rgb(163,164, 218);
    margin: 10% auto;
    border-radius: 50%;
    position: relative;
  }
  
  .circle2{
    width: 35px;
    height: 35px;
    background-color: rgb(106,136, 250);
    margin: 10% auto;
    border-radius: 50%;
    position: relative;
  }
  
  .circle3{
    width: 35px;
    height: 35px;
    background-color: rgb(247,140, 148);
    margin: 10% auto;
    border-radius: 50%;
    position: relative;
  }
  .icon{
    color: white;
  }